<!-- Message List -->
<table class="table messages-list">
  <tbody>
    <tr>
      <td><input type="checkbox"></td>
      <td>JavaScript Weekly</td>
      <td>This week's JavaScript news, issue 201</td>
      <td>Oct 3</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>JavaScript Weekly</td>
      <td>This week's JavaScript news, issue 201</td>
      <td>Oct 3</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>JavaScript Weekly</td>
      <td>This week's JavaScript news, issue 201</td>
      <td>Oct 3</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>JavaScript Weekly</td>
      <td>This week's JavaScript news, issue 201</td>
      <td>Oct 3</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>JavaScript Weekly</td>
      <td>This week's JavaScript news, issue 201</td>
      <td>Oct 3</td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td>JavaScript Weekly</td>
      <td>This week's JavaScript news, issue 201</td>
      <td>Oct 3</td>
    </tr>
  </tbody>
</table>
