<!-- Toolbar -->
<div class="btn-toolbar gmail-toolbar" role="toolbar">
  <div class="btn-group">
    <button type="button" class="btn btn-default"><input type="checkbox"></button>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span></button>
  </div>
  <div class="btn-group">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></button>
    </div>
  </div>
</div>
<!-- Toolbar - END -->
